{% extends "base.html" %}
{% block content %}
<h1>Rataesittely</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <!-- Otsikot -->
            <th>Radan nimi</th>
            <th>Sijainti</th>
            <th>Rataluokitus</th>
            <th>Par</th>
            <th>Paras pelaaja</th>
            <th>pvm</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{rata.nimi}}</td>
            <td>{{rata.sijainti}}</td>
            <td>{{rata.luokitus}}</td>    
            <td>null</td>
            <td>null</td>
            <td>null</td>
        </tr>    
            
    </tbody>
</table>
<a class="btn btn-success btn-sm" href="{{base_path}}/rata/{{rata.id}}/edit">Muokkaa</a>
{% endblock %}